.container {
    #background-color: #808080;
}

.jumboSmallText {
   font-size: 105%;
   line-height: 200%;
}

img {
	max-width:90%;
	max-height:90%;
	display: block;
	margin-left: auto;
    margin-right: auto
}

p {
	line-height: 150%;
}

#myCanvas {
  width: 100%;
  height: 100%;
}

#tag-filter {
  font-size: 200%;
  margin: 5%;
}

#tag-checklist {
  font-size: 150%;
  margin: auto;
}

#tag-checklist li {
  display: inline;
  margin: 10%;
}

#tag-checklist img {
  display: inline;
  width: 10%;
}

.project {
  border:4px solid #ccc;
  padding: 6px;
  margin: 0px;
}

.jumbotron a {
  margin-left: 3%;
}

.jumbotron a img {
  display: inline;
  width: 5%;
}

/*select, ul { height: 2%; overflow: scroll; width: 30%; border: 1px solid #000; }*/

.contain-checklist {
  /*background-image:url("media/tree3_c.png");*/
  margin: auto;
  border:6px solid #ccc;
  width:95%;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 90%;
}

h3 {
  text-align: center;
}

footer {
  text-align:right;
}

.contain-checklist img {
  display: inline;
  width: 3%;
}

#desc-r {
  display: none;
}

#desc-m {
  display: none;
}

#contain-education {
  margin: 2%;
  border:6px
  solid #ccc;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#contain-education img {
  display: inline;
  width: 10%;
}


#contain-technical-skills {
  float: right;
  margin: 2%;
  border:6px
  solid #ccc;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#contain-technical-skills img {
  display: inline;
  width: 10%;
}

#about {
  border:6px solid #ccc;
  padding: 2%;
}
#about h1 {
  text-align: center;
}
#about img {
  display: inline;
  width: 8%;
  height: 8%;
}

#farewell {
  border:6px solid #ccc;
  float:right;
  display: inline;
  margin: 2%;
  padding: 1%;
}
#farewell a {
  color: black;
}

.inlImg {
  margin-top: 2%;
  display: inline;
  width: 5%;
  height: 5%;
}
