.container {
    #background-color: #808080;
}

.jumboSmallText {
   font-size: 105%;
   line-height: 200%;
}

img {
	max-width:90%;
	max-height:90%;
	display: block;
	margin-left: auto;
    margin-right: auto
}

p {
	line-height: 150%;
}

#tag-filter {
  font-size: 200%;
  margin: 5%;
}

#tag-checklist {
  font-size: 150%;
  margin: auto;
}

#tag-checklist li {
  display: inline;
  margin: 10%;
}

#tag-checklist img {
  display: inline;
  width: 10%;
}

.jumbotron a {
  margin-left: 3%;
}

.jumbotron a img {
  display: inline;
  width: 5%;
}

/*select, ul { height: 2%; overflow: scroll; width: 30%; border: 1px solid #000; }*/

.contain-checklist {
  /*background-image:url("media/tree3_c.png");*/
  margin: auto;
  border:6px
  solid #ccc;
  width:95%;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

h3 {
  text-align: center;
}

.contain-checklist img {
  display: inline;
  width: 3%;
}

#desc-r {
  display: none;
}

#contain-education {
  margin: 2%;
  border:6px
  solid #ccc;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#contain-education img {
  display: inline;
  width: 10%;
}


#contain-technical-skills {
  float: right;
  margin: 2%;
  border:6px
  solid #ccc;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#contain-technical-skills img {
  display: inline;
  width: 10%;
}
