@media (max-width:800px) {
  #myCanvas {
    display: none;
  }

  #tag-checklist {
    font-size: 100%;
    margin: 0%;
  }
}

@media (max-width: 530px) {
  #desc {
    display: none;
  }

  #desc-r {
    display: block;
  }

  .link {
    margin: 0%;
    font-size: 90%;
  }

  .jumbotron {
    text-align: center;
  }

}
